<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Menus
        </ion-title>
    </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
    <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let menu of menus; trackBy: trackId" #slidingItem>
            <ion-item (click)="view(menu)">
              <ion-label text-wrap>
                <ion-text color="primary"><h2>{{menu.name}}</h2></ion-text>
                <p>{{menu.description}}</p>
                <ion-avatar *ngIf="menu.image">
                    <img [src]="'data:' + menu.imageContentType + ';base64,' + menu.image" />
                    <p *ngIf="menu.image">{{menu.imageContentType}}, {{byteSize(menu.image)}}</p>
                </ion-avatar>
                <p>{{menu.createDate | date:'medium'}}</p>
                <p>{{menu.flagDeleted}}</p>
                <p>{{menu.content}}</p>
                <p>{{menu.spicy}}</p>
                <p>{{menu.onStop}}</p>
                <p>{{menu.prepDuration}}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="primary" (click)="edit(slidingItem, menu)">
                    {{ 'EDIT_BUTTON' | translate }}
                </ion-item-option>
                <ion-item-option color="danger" (click)="delete(menu)">
                    {{ 'DELETE_BUTTON' | translate }}
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!menus?.length">
        <ion-label>
            No Menus found.
        </ion-label>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="new()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
