<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Menu
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Name</ion-label>
            <div item-content>
                <span>{{menu.name}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Description</ion-label>
            <div item-content>
                <span>{{menu.description}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Image</ion-label>
            <div item-content>
                <div *ngIf="menu.image">
                    <a (click)="openFile(menu.imageContentType, menu.image)">
                        <img [src]="'data:' + menu.imageContentType + ';base64,' + menu.image" style="max-width: 100%;" alt="menu image"/>
                    </a>
                    {{menu.imageContentType}}, {{byteSize(menu.image)}}
                </div>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Create Date</ion-label>
            <div item-content>
                <span>{{menu.createDate | date:'medium'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Flag Deleted</ion-label>
            <div item-content>
                <span>{{menu.flagDeleted}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Content</ion-label>
            <div item-content>
                <span>{{menu.content}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Spicy</ion-label>
            <div item-content>
                <span>{{menu.spicy}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">On Stop</ion-label>
            <div item-content>
                <span>{{menu.onStop}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Prep Duration</ion-label>
            <div item-content>
                <span>{{menu.prepDuration}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Category</ion-label>
            <div item-content *ngIf="menu.category">
                <a>{{menu.category?.id}}</a>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Price</ion-label>
            <div item-content *ngIf="menu.price">
                <a>{{menu.price?.id}}</a>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Combo</ion-label>
            <div item-content *ngIf="menu.combo">
                <a>{{menu.combo?.id}}</a>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(menu)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(menu)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
