<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Notice Receiver
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">To User Id</ion-label>
            <div item-content>
                <span>{{noticeReceiver.toUserId}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">User Lang</ion-label>
            <div item-content>
                <span>{{noticeReceiver.userLang}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Flag Sms Sent</ion-label>
            <div item-content>
                <span>{{noticeReceiver.flagSmsSent}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Flag Email Sent</ion-label>
            <div item-content>
                <span>{{noticeReceiver.flagEmailSent}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Flag Push Sent</ion-label>
            <div item-content>
                <span>{{noticeReceiver.flagPushSent}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Flag Read</ion-label>
            <div item-content>
                <span>{{noticeReceiver.flagRead}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Read Date</ion-label>
            <div item-content>
                <span>{{noticeReceiver.readDate | date:'medium'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Receiver Full Name</ion-label>
            <div item-content>
                <span>{{noticeReceiver.receiverFullName}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Receiver Phone</ion-label>
            <div item-content>
                <span>{{noticeReceiver.receiverPhone}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Notice</ion-label>
            <div item-content *ngIf="noticeReceiver.notice">
                <a>{{noticeReceiver.notice?.id}}</a>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(noticeReceiver)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(noticeReceiver)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
