<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Notice Receivers
        </ion-title>
    </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
    <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let noticeReceiver of noticeReceivers; trackBy: trackId" #slidingItem>
            <ion-item (click)="view(noticeReceiver)">
              <ion-label text-wrap>
                <p>{{noticeReceiver.toUserId}}</p>
                <p>{{noticeReceiver.userLang}}</p>
                <p>{{noticeReceiver.flagSmsSent}}</p>
                <p>{{noticeReceiver.flagEmailSent}}</p>
                <p>{{noticeReceiver.flagPushSent}}</p>
                <p>{{noticeReceiver.flagRead}}</p>
                <p>{{noticeReceiver.readDate | date:'medium'}}</p>
                <p>{{noticeReceiver.receiverFullName}}</p>
                <p>{{noticeReceiver.receiverPhone}}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="primary" (click)="edit(slidingItem, noticeReceiver)">
                    {{ 'EDIT_BUTTON' | translate }}
                </ion-item-option>
                <ion-item-option color="danger" (click)="delete(noticeReceiver)">
                    {{ 'DELETE_BUTTON' | translate }}
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!noticeReceivers?.length">
        <ion-label>
            No Notice Receivers found.
        </ion-label>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="new()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
