<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Promocode Sale
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Sale</ion-label>
            <div item-content>
                <span>{{promocodeSale.sale}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Min Price</ion-label>
            <div item-content>
                <span>{{promocodeSale.minPrice}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Max Price</ion-label>
            <div item-content>
                <span>{{promocodeSale.maxPrice}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Min Amount</ion-label>
            <div item-content>
                <span>{{promocodeSale.minAmount}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Max Amount</ion-label>
            <div item-content>
                <span>{{promocodeSale.maxAmount}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Min Share</ion-label>
            <div item-content>
                <span>{{promocodeSale.minShare}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Start Date</ion-label>
            <div item-content>
                <span>{{promocodeSale.startDate | date:'medium'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">End Date</ion-label>
            <div item-content>
                <span>{{promocodeSale.endDate | date:'medium'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Promocode</ion-label>
            <div item-content *ngIf="promocodeSale.promocode">
                <a>{{promocodeSale.promocode?.id}}</a>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(promocodeSale)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(promocodeSale)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
