<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Promocodes
        </ion-title>
    </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
    <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let promocode of promocodes; trackBy: trackId" #slidingItem>
            <ion-item (click)="view(promocode)">
              <ion-label text-wrap>
                <p>{{promocode.code}}</p>
                <p>{{promocode.flagActive}}</p>
                <ion-text color="primary"><h2>{{promocode.name}}</h2></ion-text>
                <p>{{promocode.description}}</p>
                <p>{{promocode.containerClass}}</p>
                <p>{{promocode.containerId}}</p>
                <p>{{promocode.createDate | date:'medium'}}</p>
                <p>{{promocode.usedByOwnerCount}}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="primary" (click)="edit(slidingItem, promocode)">
                    {{ 'EDIT_BUTTON' | translate }}
                </ion-item-option>
                <ion-item-option color="danger" (click)="delete(promocode)">
                    {{ 'DELETE_BUTTON' | translate }}
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!promocodes?.length">
        <ion-label>
            No Promocodes found.
        </ion-label>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="new()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
