<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Order Status Histories
        </ion-title>
    </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
    <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let orderStatusHistory of orderStatusHistories; trackBy: trackId" #slidingItem>
            <ion-item (click)="view(orderStatusHistory)">
              <ion-label text-wrap>
                <!-- todo: special handling for translating enum - {{'OrderStatus.' + orderStatusHistory.orderStatus}}" -->
                <p>{{orderStatusHistory.orderStatus}}</p>
                <p>{{orderStatusHistory.createDate | date:'medium'}}</p>
                <p>{{orderStatusHistory.comment}}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="primary" (click)="edit(slidingItem, orderStatusHistory)">
                    {{ 'EDIT_BUTTON' | translate }}
                </ion-item-option>
                <ion-item-option color="danger" (click)="delete(orderStatusHistory)">
                    {{ 'DELETE_BUTTON' | translate }}
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!orderStatusHistories?.length">
        <ion-label>
            No Order Status Histories found.
        </ion-label>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="new()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
