<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Order
        </ion-title>

        <ion-buttons slot="end">
            <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
              <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
              <ion-icon name="md-checkmark" *ngIf="!platform.is('ios')"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Promocode</ion-label>
                <ion-input type="text" name="promocode" formControlName="promocode"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Total Price</ion-label>
                <ion-input type="number" name="totalPrice" formControlName="totalPrice"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Subtotal Price</ion-label>
                <ion-input type="number" name="subtotalPrice" formControlName="subtotalPrice"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Discount</ion-label>
                <ion-input type="number" name="discount" formControlName="discount"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Payment Type</ion-label>
                <ion-select formControlName="paymentType" id="field_paymentType" >
                        <ion-select-option value="CASH">{{'PaymentType.CASH' | translate}}</ion-select-option>
                        <ion-select-option value="EPAY">{{'PaymentType.EPAY' | translate}}</ion-select-option>
                        <ion-select-option value="KASPI">{{'PaymentType.KASPI' | translate}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Payment Code</ion-label>
                <ion-input type="text" name="paymentCode" formControlName="paymentCode"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Flag Paid</ion-label>
                <ion-checkbox formControlName="flagPaid"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Service Type</ion-label>
                <ion-select formControlName="serviceType" id="field_serviceType" >
                        <ion-select-option value="PICK_UP">{{'ServiceType.PICK_UP' | translate}}</ion-select-option>
                        <ion-select-option value="DELIVERY">{{'ServiceType.DELIVERY' | translate}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Service Time</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="serviceTime" id="field_serviceTime"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Create Date</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="createDate" id="field_createDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Comment</ion-label>
                <ion-input type="text" name="comment" formControlName="comment"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Location Type</ion-label>
                <ion-select formControlName="locationType" id="field_locationType" >
                        <ion-select-option value="KAZGYU">{{'LocationType.KAZGYU' | translate}}</ion-select-option>
                        <ion-select-option value="COMMUNITY">{{'LocationType.COMMUNITY' | translate}}</ion-select-option>
                        <ion-select-option value="CITY">{{'LocationType.CITY' | translate}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Delivery Duration</ion-label>
                <ion-input type="number" name="deliveryDuration" formControlName="deliveryDuration"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>User</ion-label>
                <ion-select id="field_user" formControlName="user" [compareWith]="compareUser">
                    <ion-select-option [value]="null"></ion-select-option>
                    <ion-select-option [value]="userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Status</ion-label>
                <ion-select id="field_status" formControlName="status" [compareWith]="compareOrderStatusHistory">
                    <ion-select-option [value]="null"></ion-select-option>
                    <ion-select-option [value]="orderStatusHistoryOption" *ngFor="let orderStatusHistoryOption of orderStatusHistories; trackBy: trackOrderStatusHistoryById">{{orderStatusHistoryOption.id}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Location</ion-label>
                <ion-select id="field_location" formControlName="location" [compareWith]="compareLocation">
                    <ion-select-option [value]="null"></ion-select-option>
                    <ion-select-option [value]="locationOption" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.id}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
