<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Orders
        </ion-title>
    </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
    <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let order of orders; trackBy: trackId" #slidingItem>
            <ion-item (click)="view(order)">
              <ion-label text-wrap>
                  <ion-row>
                      <ion-col size="8">Заказ</ion-col>
                      <ion-col size="4" class="ion-text-end">кол-во</ion-col>
                  </ion-row>
                  <ion-row *ngFor="let item of order.items">
                      <ion-col size="8">{{item.menu.name}} <span *ngIf="item.menu.spicy" style="color: red">{{item.spicyLevel}}</span></ion-col>
                      <ion-col size="4" class="ion-text-end">{{item.amount}}</ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col>код</ion-col>
                      <ion-col>скидка</ion-col>
                      <ion-col>общ</ion-col>
                      <ion-col>итого</ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col>{{order.promocode}}</ion-col>
                      <ion-col>{{order.discount}} %</ion-col>
                      <ion-col>{{order.subtotal}} т</ion-col>
                      <ion-col>{{order.total}} т</ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col>Тип</ion-col>
                      <ion-col>Опл.?</ion-col>
                      <ion-col>Как?</ion-col>
                      <ion-col>Время</ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col>{{order.paymentType}}</ion-col>
                      <ion-col>{{order.flagPaid}}</ion-col>
                      <ion-col>{{order.serviceType}}</ion-col>
                      <ion-col>{{order.pickupTime | date:'dd.MM HH:mm'}}</ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col>
                          {{order.comment}}
                      </ion-col>
                  </ion-row>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="primary" (click)="edit(slidingItem, order)">
                    {{ 'EDIT_BUTTON' | translate }}
                </ion-item-option>
                <ion-item-option color="danger" (click)="delete(order)">
                    {{ 'DELETE_BUTTON' | translate }}
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!orders?.length">
        <ion-label>
            No Orders found.
        </ion-label>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="new()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
