<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Order
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Promocode</ion-label>
            <div item-content>
                <span>{{order.promocode}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Total Price</ion-label>
            <div item-content>
                <span>{{order.totalPrice}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Subtotal Price</ion-label>
            <div item-content>
                <span>{{order.subtotalPrice}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Discount</ion-label>
            <div item-content>
                <span>{{order.discount}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Payment Type</ion-label>
            <div item-content>
                <span>{{order.paymentType}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Payment Code</ion-label>
            <div item-content>
                <span>{{order.paymentCode}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Flag Paid</ion-label>
            <div item-content>
                <span>{{order.flagPaid}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Service Type</ion-label>
            <div item-content>
                <span>{{order.serviceType}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Service Time</ion-label>
            <div item-content>
                <span>{{order.serviceTime | date:'medium'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Create Date</ion-label>
            <div item-content>
                <span>{{order.createDate | date:'medium'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Comment</ion-label>
            <div item-content>
                <span>{{order.comment}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Location Type</ion-label>
            <div item-content>
                <span>{{order.locationType}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Delivery Duration</ion-label>
            <div item-content>
                <span>{{order.deliveryDuration}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>User</ion-label>
            <div item-content>{{order.user?.id}}</div>
        </ion-item>
        <ion-item>
            <ion-label>Status</ion-label>
            <div item-content *ngIf="order.status">
                <a>{{order.status?.id}}</a>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Location</ion-label>
            <div item-content *ngIf="order.location">
                <a>{{order.location?.id}}</a>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(order)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(order)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
