<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Category
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Name</ion-label>
            <div item-content>
                <span>{{category.name}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Description</ion-label>
            <div item-content>
                <span>{{category.description}}</span>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(category)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(category)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
