<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Order Item
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Amount</ion-label>
            <div item-content>
                <span>{{orderItem.amount}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Type</ion-label>
            <div item-content>
                <span>{{orderItem.type}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Spicy Level</ion-label>
            <div item-content>
                <span>{{orderItem.spicyLevel}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Order</ion-label>
            <div item-content *ngIf="orderItem.order">
                <a>{{orderItem.order?.id}}</a>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Menu</ion-label>
            <div item-content *ngIf="orderItem.menu">
                <a>{{orderItem.menu?.id}}</a>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(orderItem)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(orderItem)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
