<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Order Items
        </ion-title>
    </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
    <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let orderItem of orderItems; trackBy: trackId" #slidingItem>
            <ion-item (click)="view(orderItem)">
              <ion-label text-wrap>
                <p>{{orderItem.amount}}</p>
                <!-- todo: special handling for translating enum - {{'OrderItemType.' + orderItem.type}}" -->
                <p>{{orderItem.type}}</p>
                <!-- todo: special handling for translating enum - {{'SpicyLevel.' + orderItem.spicyLevel}}" -->
                <p>{{orderItem.spicyLevel}}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="primary" (click)="edit(slidingItem, orderItem)">
                    {{ 'EDIT_BUTTON' | translate }}
                </ion-item-option>
                <ion-item-option color="danger" (click)="delete(orderItem)">
                    {{ 'DELETE_BUTTON' | translate }}
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!orderItems?.length">
        <ion-label>
            No Order Items found.
        </ion-label>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="new()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
