<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Adverts
        </ion-title>
    </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
    <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let advert of adverts; trackBy: trackId" #slidingItem>
            <ion-item (click)="view(advert)">
              <ion-label text-wrap>
                <ion-text color="primary"><h2>{{advert.name}}</h2></ion-text>
                <p>{{advert.description}}</p>
                <ion-avatar *ngIf="advert.image">
                    <img [src]="'data:' + advert.imageContentType + ';base64,' + advert.image" />
                    <p *ngIf="advert.image">{{advert.imageContentType}}, {{byteSize(advert.image)}}</p>
                </ion-avatar>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="primary" (click)="edit(slidingItem, advert)">
                    {{ 'EDIT_BUTTON' | translate }}
                </ion-item-option>
                <ion-item-option color="danger" (click)="delete(advert)">
                    {{ 'DELETE_BUTTON' | translate }}
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!adverts?.length">
        <ion-label>
            No Adverts found.
        </ion-label>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="new()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
