<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Notices
        </ion-title>
    </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
    <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let notice of notices; trackBy: trackId" #slidingItem>
            <ion-item (click)="view(notice)">
              <ion-label text-wrap>
                <ion-text color="primary"><h2>{{notice.title}}</h2></ion-text>
                <p>{{notice.content}}</p>
                <p>{{notice.smsContent}}</p>
                <p>{{notice.flagPush}}</p>
                <p>{{notice.flagSms}}</p>
                <p>{{notice.flagEmail}}</p>
                <!-- todo: special handling for translating enum - {{'NoticeReceiverType.' + notice.receiverType}}" -->
                <p>{{notice.receiverType}}</p>
                <p>{{notice.createDate | date:'medium'}}</p>
                <p>{{notice.modifyDate | date:'medium'}}</p>
                <p>{{notice.containerClass}}</p>
                <p>{{notice.containerId}}</p>
                <!-- todo: special handling for translating enum - {{'NoticeType.' + notice.noticeType}}" -->
                <p>{{notice.noticeType}}</p>
                <p>{{notice.flagSent}}</p>
                <p>{{notice.sentTime | date:'medium'}}</p>
                <p>{{notice.payloadObjectUrl}}</p>
                <p>{{notice.payloadObjectId}}</p>
                <p>{{notice.flagDeleted}}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="primary" (click)="edit(slidingItem, notice)">
                    {{ 'EDIT_BUTTON' | translate }}
                </ion-item-option>
                <ion-item-option color="danger" (click)="delete(notice)">
                    {{ 'DELETE_BUTTON' | translate }}
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!notices?.length">
        <ion-label>
            No Notices found.
        </ion-label>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="new()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
