<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Notice
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Title</ion-label>
            <div item-content>
                <span>{{notice.title}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Content</ion-label>
            <div item-content>
                <span>{{notice.content}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Sms Content</ion-label>
            <div item-content>
                <span>{{notice.smsContent}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Flag Push</ion-label>
            <div item-content>
                <span>{{notice.flagPush}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Flag Sms</ion-label>
            <div item-content>
                <span>{{notice.flagSms}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Flag Email</ion-label>
            <div item-content>
                <span>{{notice.flagEmail}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Receiver Type</ion-label>
            <div item-content>
                <span>{{notice.receiverType}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Create Date</ion-label>
            <div item-content>
                <span>{{notice.createDate | date:'medium'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Modify Date</ion-label>
            <div item-content>
                <span>{{notice.modifyDate | date:'medium'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Container Class</ion-label>
            <div item-content>
                <span>{{notice.containerClass}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Container Id</ion-label>
            <div item-content>
                <span>{{notice.containerId}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Notice Type</ion-label>
            <div item-content>
                <span>{{notice.noticeType}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Flag Sent</ion-label>
            <div item-content>
                <span>{{notice.flagSent}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Sent Time</ion-label>
            <div item-content>
                <span>{{notice.sentTime | date:'medium'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Payload Object Url</ion-label>
            <div item-content>
                <span>{{notice.payloadObjectUrl}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Payload Object Id</ion-label>
            <div item-content>
                <span>{{notice.payloadObjectId}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Flag Deleted</ion-label>
            <div item-content>
                <span>{{notice.flagDeleted}}</span>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(notice)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(notice)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
