<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Notice
        </ion-title>

        <ion-buttons slot="end">
            <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
              <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
              <ion-icon name="md-checkmark" *ngIf="!platform.is('ios')"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Title</ion-label>
                <ion-input type="text" name="title" formControlName="title"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Content</ion-label>
                <ion-input type="text" name="content" formControlName="content"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Sms Content</ion-label>
                <ion-input type="text" name="smsContent" formControlName="smsContent"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Flag Push</ion-label>
                <ion-checkbox formControlName="flagPush"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Flag Sms</ion-label>
                <ion-checkbox formControlName="flagSms"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Flag Email</ion-label>
                <ion-checkbox formControlName="flagEmail"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Receiver Type</ion-label>
                <ion-select formControlName="receiverType" id="field_receiverType" >
                        <ion-select-option value="ONE_USER">{{'NoticeReceiverType.ONE_USER' | translate}}</ion-select-option>
                        <ion-select-option value="GROUP">{{'NoticeReceiverType.GROUP' | translate}}</ion-select-option>
                        <ion-select-option value="ALL_USERS">{{'NoticeReceiverType.ALL_USERS' | translate}}</ion-select-option>
                        <ion-select-option value="ORDER">{{'NoticeReceiverType.ORDER' | translate}}</ion-select-option>
                        <ion-select-option value="STOCK">{{'NoticeReceiverType.STOCK' | translate}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Create Date</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="createDate" id="field_createDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Modify Date</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="modifyDate" id="field_modifyDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Container Class</ion-label>
                <ion-input type="text" name="containerClass" formControlName="containerClass"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Container Id</ion-label>
                <ion-input type="number" name="containerId" formControlName="containerId"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Notice Type</ion-label>
                <ion-select formControlName="noticeType" id="field_noticeType" >
                        <ion-select-option value="INFO">{{'NoticeType.INFO' | translate}}</ion-select-option>
                        <ion-select-option value="SUCCESS">{{'NoticeType.SUCCESS' | translate}}</ion-select-option>
                        <ion-select-option value="WARNING">{{'NoticeType.WARNING' | translate}}</ion-select-option>
                        <ion-select-option value="DANGER">{{'NoticeType.DANGER' | translate}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Flag Sent</ion-label>
                <ion-checkbox formControlName="flagSent"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Sent Time</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="sentTime" id="field_sentTime"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Payload Object Url</ion-label>
                <ion-input type="text" name="payloadObjectUrl" formControlName="payloadObjectUrl"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Payload Object Id</ion-label>
                <ion-input type="number" name="payloadObjectId" formControlName="payloadObjectId"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Flag Deleted</ion-label>
                <ion-checkbox formControlName="flagDeleted"></ion-checkbox>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
