<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Location
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Full Address</ion-label>
            <div item-content>
                <span>{{location.fullAddress}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Floor</ion-label>
            <div item-content>
                <span>{{location.floor}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Room</ion-label>
            <div item-content>
                <span>{{location.room}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Lat</ion-label>
            <div item-content>
                <span>{{location.lat}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Lon</ion-label>
            <div item-content>
                <span>{{location.lon}}</span>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(location)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(location)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
