<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Location
        </ion-title>

        <ion-buttons slot="end">
            <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
              <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
              <ion-icon name="md-checkmark" *ngIf="!platform.is('ios')"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Full Address</ion-label>
                <ion-input type="text" name="fullAddress" formControlName="fullAddress"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Floor</ion-label>
                <ion-input type="text" name="floor" formControlName="floor"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Room</ion-label>
                <ion-input type="text" name="room" formControlName="room"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Lat</ion-label>
                <ion-input type="text" name="lat" formControlName="lat"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Lon</ion-label>
                <ion-input type="text" name="lon" formControlName="lon"></ion-input>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
