<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Order Feedback
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Rating</ion-label>
            <div item-content>
                <span>{{orderFeedback.rating}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Comment</ion-label>
            <div item-content>
                <span>{{orderFeedback.comment}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Create Date</ion-label>
            <div item-content>
                <span>{{orderFeedback.createDate | date:'medium'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Order</ion-label>
            <div item-content *ngIf="orderFeedback.order">
                <a>{{orderFeedback.order?.id}}</a>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Rating Tag</ion-label>
            <div item-content>
                <span *ngFor="let ratingTag of orderFeedback.ratingTags; let last = last">
                    <a>{{ratingTag.id}}</a>{{last ? '' : ', '}}
                </span>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(orderFeedback)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(orderFeedback)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
