<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Order Feedback
        </ion-title>

        <ion-buttons slot="end">
            <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
              <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
              <ion-icon name="md-checkmark" *ngIf="!platform.is('ios')"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Rating</ion-label>
                <ion-input type="number" name="rating" formControlName="rating"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Comment</ion-label>
                <ion-input type="text" name="comment" formControlName="comment"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Create Date</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="createDate" id="field_createDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Order</ion-label>
                <ion-select id="field_order" formControlName="order" [compareWith]="compareOrder">
                    <ion-select-option [value]="null"></ion-select-option>
                    <ion-select-option [value]="orderOption" *ngFor="let orderOption of orders; trackBy: trackOrderById">{{orderOption.id}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Rating Tag</ion-label>
                <ion-select id="field_ratingTag" multiple="true" formControlName="ratingTags" [compareWith]="compareRatingTag">
                    <ion-select-option [value]="ratingTagOption" *ngFor="let ratingTagOption of ratingtags; trackBy: trackRatingTagById">{{ratingTagOption.id}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
